################################# Default configuration ###################
baseURL = "https://hackvlc.es/"
title = "Hackerspace Valencia"
theme = "hackvlc"  # Changed from meghna-hugo to our new hackvlc theme
# post pagination
pagination.pagerSize = "6"
# post excerpt
summaryLength = "15"
# disqus short name
disqusShortname = "" # get your shortname form here : https://disqus.com
# disable language
disableLanguages = []
# default language
defaultContentLanguage = "es"
# Enable URL canonicalization
canonifyURLs = true

############################# Sitemap Configuration ######################
[sitemap]
changefreq = "monthly"
filename = "sitemap.xml"
priority = 0.5

[outputs]
home = ["HTML", "RSS", "JSON", "SITEMAP"]
section = ["HTML", "RSS"]
taxonomy = ["HTML", "RSS"]
term = ["HTML", "RSS"]

[outputFormats]
[outputFormats.SITEMAP]
mediaType = "application/xml"
baseName = "sitemap"
isPlainText = true
rel = "sitemap"

############################# Plugins ##########################
 # css plugins
 [[params.plugins.css]]
 link = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
 [[params.plugins.css]]
 link = "https://cdn.jsdelivr.net/npm/themify-icons@0.1.2/css/themify-icons.css"
 [[params.plugins.css]]
 link = "https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&display=swap"

 # js plugins
 [[params.plugins.js]]
 link = "https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
 [[params.plugins.js]]
 link = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
 [[params.plugins.js]]
 link = "https://cdn.jsdelivr.net/npm/lozad@1.16.0/dist/lozad.min.js"

# Añadir leaflet para OpenStreetMap
[[params.plugins.css]]
link = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
[[params.plugins.js]]
link = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
# Favicon

[params.favicon]
icon = "favicon.ico"        # Favicon básico

################### Spanish Navigation ########################
[[Languages.es.menu.main]]
name = "nosotros"
url = "/#about"
weight = 1

[[Languages.es.menu.main]]
name = "actividades"
url = "/#activities"
weight = 2

[[Languages.es.menu.main]]
name = "proyectos"
url = "/proyectos/"
weight = 3

[[Languages.es.menu.main]]
name = "cuota"
url = "/#pricing"
weight = 5

[[Languages.es.menu.main]]
name = "talleres"
url = "/workshops/"
weight = 6

[[Languages.es.menu.main]]
name = "contacto"
url = "/#contact"
weight = 7

################### English Navigation ########################
[[Languages.en.menu.main]]
name = "about"
url = "/#about"
weight = 1

[[Languages.en.menu.main]]
name = "activities"
url = "/#activities"
weight = 2

[[Languages.en.menu.main]]
name = "projects"
url = "/proyectos/"
weight = 3

[[Languages.en.menu.main]]
name = "fee"
url = "/#pricing"
weight = 5

[[Languages.en.menu.main]]
name = "workshops"
url = "/workshops/"
weight = 6

[[Languages.en.menu.main]]
name = "contact"
url = "/#contact"
weight = 7

############################# Default Parameters ##########################
[params]
logo = "images/logo.png"
# Meta data
description = "Web del Hackerspace de Valencia"
# Google Analytics
google_analytics_id = "" # Your ID
# post share
post_share = true
copyright = "© 2024 [Hackerspace VLC](https://hackvlc.es) · Everything we do is GPL-3.0 · Made with ❤️ in Valencia"

# Theme-specific parameters
primaryColor = "#00BFB3"  # Teal
accentColor = "#FF6347"   # Coral/Orange
# darkMode = true  # Uncomment to enable dark mode by default

# Hero section
heroImage = "/images/local-4.webp"
primaryButtonText = "Sobre Nosotros"
primaryButtonURL = "#about"
secondaryButtonText = "Ver Proyectos"
secondaryButtonURL = "#portfolio"

# Map coordinates
mapLatitude = "39.488339464485364"
mapLongitude = "-0.35849245006843755"

# Custom CSS files
customCSS = ["css/custom.css"]

[taxonomies]
category = "categories"
tag = "tags"
socio = "socios"

# preloader
[params.preloader]
enable = false
preloader = "images/logo.png"

# cookies
[params.cookies]
enable = false
expire_days = 2

# Social media links
[params.social]
github = "https://github.com/HackerspaceVLC/"
twitter = "https://x.com/hackvlc"
youtube = "https://www.youtube.com/@asociacionhackerspacevalen2049"
meetup = "https://www.meetup.com/es-ES/hackerspace-valencia/"

################################ Spanish Language ########################
[Languages.es]
languageName = "Español"
languageCode = "es-es"
contentDir = "content/spanish"
see_all_projects_link = "proyectos/"
weight = 1
[Languages.es.params]
description = "Comunidad maker y espacio de aprendizaje tecnológico en Valencia"
email = "hackerspacevlc@gmail.com"
location = "C/ Francisco Martínez, 19 Bajo 46020 Valencia"
primaryButtonText = "Sobre Nosotros"
primaryButtonURL = "/#about"
secondaryButtonText = "Ver Proyectos"
secondaryButtonURL = "/proyectos/"
[Languages.es.sitemap]
priority = 0.9

################################ English Language ########################
[Languages.en]
languageName = "English"
languageCode = "en-us"
contentDir = "content/english"
see_all_projects_link = "proyectos/"
weight = 2
[Languages.en.params]
description = "Maker community and tech learning space in Valencia"
email = "hackerspacevlc@gmail.com"
location = "C/ Francisco Martínez, 19 Bajo 46020 Valencia"
primaryButtonText = "About Us"
primaryButtonURL = "/#about"
secondaryButtonText = "View Projects"
secondaryButtonURL = "/proyectos/"
[Languages.en.sitemap]
priority = 0.8