{{ $data := index site.Data site.Language.Lang }}

{{ if gt (where (where site.RegularPages "Section" "==" "proyectos") "Params.featured" true) 0 }}
{{"<!-- Start Portfolio Section -->" | safeHTML}}
<section id="portfolio" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="title text-center wow fadeInDown">
          <h2>Portfolio</h2>
          <div class="border-meghna"></div>
        </div>
      </div>
    </div>

    <div class="row shuffle-wrapper-portfolio justify-content-center">
      {{ range where (where site.RegularPages "Section" "proyectos") "Params.featured" true }}
      <div class="col-lg-4 col-md-6 shuffle-item-portfolio"
           data-groups="[{{range $index, $element:= .Params.categories}}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]"
           onclick="window.location='{{ .Permalink }}'">
        <div class="portfolio-block">
          <a href="{{ .Permalink }}" class="portfolio-block-link" aria-label="{{ .Title }}"></a>
          <div class="image-wrapper">
            <img class="img-fluid"
                 src="{{ .Params.image | absURL }}"
                 onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'"
                 alt="{{ .Title }}">
          </div>
          <div class="caption">
            <h4>{{ .Title }}</h4>
            <p>{{ .Params.summary }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    {{"<!-- See All Projects link -->" | safeHTML}}
    <div class="row">
      <div class="col-lg-12 text-center mt-5">
        {{ $see_all_projects_link := index .Site.Params (printf "see_all_projects_link_%s" .Site.Language.Lang) | default .Site.Params.see_all_projects_link }}
        <a href="{{ $see_all_projects_link | relLangURL }}" class="btn btn-main">
          {{ i18n "see_all_projects" | default "See All Projects" }}
        </a>
      </div>
    </div>
  </div>
</section>
{{"<!-- /Portfolio Section -->" | safeHTML}}
{{ end }}
