{{ $data := index site.Data site.Language.Lang }}

{{ if gt (where site.RegularPages "Section" "==" "workshops") 0 }}
{{"<!-- Start Workshop Section -->" | safeHTML}}
<section id="workshops" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="title text-center wow fadeInDown">
          <h2>Workshops</h2>
          <div class="border-meghna"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="btn-group portfolio-filter btn-group-toggle justify-content-center d-flex flex-wrap"
             data-toggle="buttons">
          <label class="btn active">
            <input type="radio" name="shuffle-filter-workshops" value="all" checked="checked" />{{ i18n "all"}}
          </label>
          {{ $tags := slice }}
          {{ range where site.RegularPages "Section" "workshops" }}
          {{ range .Params.tags }}
          {{ $tags = $tags | append . }}
          {{ end }}
          {{ end }}
          {{ range uniq $tags }}
          <label class="btn">
            <input type="radio" name="shuffle-filter-workshops" value="{{ . | urlize }}" />{{ . | humanize }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="row shuffle-wrapper-workshops justify-content-center">
      {{ range where site.RegularPages "Section" "workshops" }}
      <div class="col-lg-4 col-md-6 shuffle-item-workshops"
           data-groups="[{{range $index, $element:= .Params.tags}}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]"
           onclick="window.location='{{ .Permalink }}'">
        <div class="portfolio-block">
          <a href="{{ .Permalink }}" class="portfolio-block-link" aria-label="{{ .Title }}"></a>
          <div class="image-wrapper">
            <img class="img-fluid"
                 src="{{ .Params.image | absURL }}"
                 onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'"
                 alt="{{ .Title }}">
          </div>
          <div class="caption">
            <h4>{{ .Title }}</h4>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /Workshop Section -->" | safeHTML}}
{{ end }}
